body {
  margin-left: 35px; 
}

#container {
  margin: 50px 0;
}

h1 {
  color: #FECA1B;
}

li {
  margin-top: 5px;
  list-style-type: square;
  font-weight: bold;
  text-transform: capitalize;
  color: #3761A8;
}

.btn {
  width: 80px;
  padding: 5px 0px;
  font-size: 12px;
  text-align: center;
  border: none;
}

.btn a{
  text-decoration: none;
  color: white;
  
}

.btn a:hover {
  opacity: .6;
}


#nextBtn {
  margin-left: 15px;
}