body {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

.header {
    padding: 8px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #feca1b;
}

.header-title a {
    color: #feca1b;
    text-decoration: none;
}

.header-links {
    display: flex;
    padding: 0;
    margin: 0;
}

.header-link {
    list-style-type: none;
    margin: 0;
}

.header-link a {
    padding: 4px 8px;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.header-link a:hover {
    color: #feca1b;
}

#container {
    margin: 50px 0;
}

li {
    margin-top: 5px;
    list-style-type: disc;
    font-weight: bold;
    text-transform: capitalize;
    color:#feca1b;
    
}

li a {
  color: #feca1b;
  text-decoration: none;
}

li a:hover {
  text-decoration: underline;
}

.btn {
    width: 80px;
    padding: 5px 0px;
    font-size: 12px;
    text-align: center;
    border: none;
}

.btn a {
    text-decoration: none;
    color: white;
}

.btn a:hover {
    opacity: 0.6;
}

#nextBtn {
    margin-left: 15px;
}

.logo {
  width: 22%;
  margin-left: 5%;
}



body {
  margin: 0;
  min-height: 100vh; /* Ensures the body takes at least the full height of the viewport */
  background: linear-gradient(217deg, #25345E, #322D29 70.71%),
              linear-gradient(127deg, #2C3848, #25345E 70.71%),
              linear-gradient(336deg, #20222C, #1E2536 70.71%);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.main_container {
  display: flex;
  margin-top: 2%;
}



.pikachu {
  width: 75%;
  margin-top: 10%;
}

.left-side {
  display: flex;
  justify-content: center;

}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.nintendo {
  width: 20%;
}

.ball {
  width: 15%;
}

.right-side h1{
  font-family: 'Racing Sans One', cursive;
  font-size: 55px;
  color: white;
}


.posts_section {
  margin-left: 30px;
}

.posts_header {
  color:white; 
  margin: 30px 0;
}

#posts h3, #posts p {
  color: #feca1b;

}

